* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table {
    max-width: 80vw;
    margin: 0 auto;
}

.table__header {
    background-color: #eee;
}

.table__body {
}

.table__row {
    display: grid;
    grid-template-columns: repeat(2, 5fr) 3fr 2fr;
}

.table__header .table__row {
    border-bottom: 1px solid blue;
}

.table__body .table__row:nth-child(odd) {
    background-color: #eee;
}

.table__cell {
    padding: 1rem .5rem;
}

.booklist {
    background-color: red;
}

.new-book {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.new-book__input-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border: 1px dotted black;
    padding: 1rem;
}

.new-book__input-container .label {
    text-align: right;
    padding-right: 1rem;
}

.new-book__input-container .input {
    padding: 20px;
}